<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Kyohei Otsu">

    <title>Aurora Rover Controller</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio-item.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Aurora</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" onclick="alert('Aurora Rover Control Software (alpha)\nAuthor: Kyohei Otsu');">About</a>
                    </li>
                    <li>
                        <a href="https://github.com/qqmoi/aurora">source(github)</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Rover Controller
                    <small>v0.2</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-7">
                <!-- main view -->
                <div class="out_wrapper">
                    <div class="in_wrapper">
                        <img id="view_terrain" class="covered"></img>
                        <img id="view_class" class="covered"></img>
                        <img id="view_scale" class="covered" src="{{ url_for('static', filename='img/scale02.png') }}"></img>
                        <canvas id="canvas" class="covered" width="500px" height="500px" style="border: solid 1px"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <!-- various alerts -->
                <div id="alert_comm" class="alert alert-danger" role="alert" style="display: none;">ERROR! Communication not established</div>
                <div id="alert_path" class="alert alert-warning" role="alert" style="display: none;">WARNING! Path not found</div>

                <!-- control pane -->
                <div class="control_pane">
                    <strong>Drive Mode</strong>
                    <div>
                        <ul class="nav nav-tabs" role="tablist" id="drive_mode">
                            <li role="presentation" class="active"><a href="#" onclick="setDriveMode($(this))">Manual</a></li>
                            <li role="presentation" class=""><a href="#" onclick="setDriveMode($(this))">Autonav</a></li>
                        </ul>
                    </div>

                    <div id="manual_pane" class="control_pane_item">
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon2">Command</span>
                            <input id="commank" type="text" class="form-control" placeholder="" aria-describedby="sizing-addon2">
                        </div>
                        <button type="button" class="btn btn-default">Send</button>
                        <button type="button" class="btn btn-danger">Stop</button>
                    </div>

                    <div id="autonav_pane" class="control_pane_item">
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon2">X</span>
                            <input id="goalX" type="text" class="form-control" placeholder="Forward" aria-describedby="sizing-addon2">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon2">Y</span>
                            <input id="goalY" type="text" class="form-control" placeholder="Left" aria-describedby="sizing-addon2">
                        </div>
                        <button type="button" class="btn btn-default" onclick="makePath();">MakePath</button>
                        <button type="button" class="btn btn-default">Execute</button>
                    </div>

                    <div id="notification"></div>
                </div>

                <br style="clear:both" />
                
                
                <br style="clear:both"/>

                <div class="control_pane">
                    <strong>Viewer Options</strong>
                    <table id="view_options">
                        <tr>
                            <td><del>Zoom</del></td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="aria">
                                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-zoom-in"></span></button>
                                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-zoom-out"></span></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Terrain class</td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="aria">
                                    <button type="button" class="btn btn-default active" onclick="$('#view_class').show();toggleButtonGroup($(this))">On</button>
                                    <button type="button" class="btn btn-default" onclick="$('#view_class').hide();toggleButtonGroup($(this))">Off</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Scale</td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="aria">
                                    <button type="button" class="btn btn-default active" onclick="$('#view_scale').show();toggleButtonGroup($(this))">On</button>
                                    <button type="button" class="btn btn-default" onclick="$('#view_scale').hide();toggleButtonGroup($(this))">Off</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <small>
                      <p>&copy; 2015 | Kyohei Otsu | ISAS/JAXA | The University of Tokyo </p>
                    </small>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.csv-0.71.min.js') }}"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!-- main scripts -->
<script>

<!-- parameters -->
resolution = 0.02;  // meter/pix
width  = $("#canvas").width();  // pix
height = $("#canvas").height();  // pix

function domReady() {
    // canvas setting
    ctx = $("#canvas")[0].getContext("2d");
    updateScreen();
    setGoal();

    setDriveMode($("#drive_mode li").first().children());


}

function updateScreen() {
    var view_terrain = new Image();
    view_terrain.onload = function() {
        $("#alert_comm").hide();
        $("#view_terrain").attr("src", this.src);
        setTimeout(updateScreen, 3000);
    }
    view_terrain.onerror = function() {
        $("#alert_comm").show();
        setTimeout(updateScreen, 1000);
    }
    view_terrain.src = "{{ url_for('static', filename='data/tmap.png') }}?" + (new Date()).getTime();

    var view_class = new Image();
    view_class.src = "{{ url_for('static', filename='data/cmap.png') }}?" + (new Date()).getTime();
    view_class.onload = function() {
        $("#view_class").attr("src", this.src);
    }
}

function clearCanvas() {
    ctx.setTransform(1, 0, 0, 1, 0, 0);
    ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
}

function setDriveMode(obj) {
    // set menu active
    $("#drive_mode").children().each(function(i) {$("#drive_mode").children(i).removeClass("active");});
    obj.parent().addClass("active");

    // show controller
    $(".control_pane_item").each(function(i,ob) { jQuery(ob).hide(); });
    if (obj.text()[0] == "M") $("#manual_pane").show();
    else if (obj.text()[0] == "A") $("#autonav_pane").show();
}

function toggleButtonGroup(obj) {
    obj.siblings().each(function(i, ob) { jQuery(ob).removeClass("active"); });
    obj.addClass("active");
}

function setGoal() {
    mousedown = false;

    function _setGoalToInput(e) {
        var rect = canvas.getBoundingClientRect();
        u = e.clientX - rect.left;
        v = e.clientY - rect.top;

        $("#goalX").val(v2x(v).toFixed(2));
        $("#goalY").val(u2y(u).toFixed(2));
    }

    canvas.onmousedown = function(e) {
        mousedown = true;
    }
    
    canvas.onmousemove = function(e) {
        if (mousedown == false) return;
        _setGoalToInput(e);
    }

    canvas.onmouseup = function(e) {
        mousedown = false;
        _setGoalToInput(e);
    }
}

function makePath() {
    $("#alert_path").hide();
    $.post('/planning', {
        startU: y2u(0),
        startV: x2v(0),
        goalU: y2u($("#goalY").val()),
        goalV: x2v($("#goalX").val()),
    }).done(function(arg) {
        msg(arg);
        $.ajax({
            url: "{{ url_for('static', filename='data/path.csv') }}?" + (new Date()).getTime(),
            success: function (csvd) {
                waypoints = $.csv2Array(csvd);
                drawPath(waypoints);
            },
            dataType: "text",
            complete: function () {
            }
        });
    }).fail(function() {                        
        $("#alert_path").show();
    });
}

function drawPath(waypoints) {
    clearCanvas();
    ctx.lineCap = "round";
    ctx.globalCompositeOperation = "source-over";
    ctx.strokeStyle = "#FF00FF";
    ctx.fillStyle = ctx.strokeStyle;
    ctx.lineWidth = 3;
    ctx.beginPath();
    ctx.moveTo(width / 2, height / 2);
    for (var i = 0; i < waypoints.length; ++i) {
        ctx.lineTo(y2u(waypoints[i][1]), x2v(waypoints[i][0]));
        ctx.stroke();
    }
}

function pix2world(pix) { return pix * resolution; }
function world2pix(meter) { return meter / resolution; }

function x2v(x) { return height / 2 - world2pix(x); }
function y2u(y) { return width / 2 - world2pix(y); }
function v2x(v) { return pix2world(height / 2 - v); }
function u2y(u) { return pix2world(width / 2 - u); }

function msg(text) {
    $("#notification").html(text);
}

$( domReady ); 
    
</script>

</body>

</html>
